# TASK 1: USER SATISFACTION ANALYSIS

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from assistant_functions import Assistants
import plotter
from cleaner import CleanTelecomData

In [5]:
# Read the data ...
assistant = Assistants()
user_experience = assistant.read_csv('../data/user_exeperience_metrix.csv')
user_engagement = assistant.read_csv('../data/user_engagement_cluster.csv')

file read as csv
file read as csv

In [6]:
user_experience.head()

,msisdnum,tcp_retrans_bytes,average_rtt_ms,handset_type,avarage_throughput_kbps,cluster
0,3.366496e+10,2.182528e+07,47.000000,Samsung Galaxy A5 Sm-A520F,67.0,1
1,3.368185e+10,2.182528e+07,70.000000,Samsung Galaxy J5 (Sm-J530),42.0,1
2,3.376063e+10,2.182528e+07,123.593439,Samsung Galaxy A8 (2018),15.0,1
3,3.375034e+10,2.182528e+07,123.593439,undefined,88.0,1
4,3.369980e+10,2.182528e+07,123.593439,Samsung Sm-G390F,15.0,1

In [7]:
user_experience.describe()

,msisdnum,tcp_retrans_bytes,average_rtt_ms,avarage_throughput_kbps,cluster
count,1.468910e+05,1.468910e+05,146891.000000,146891.000000,146891.000000
mean,3.596855e+10,1.488153e+07,123.593439,15207.646609,0.945082
std,8.792026e+11,1.878126e+07,537.295718,26952.835523,0.619569
min,3.360100e+10,8.600000e+01,0.000000,0.000000,0.000000
25%,3.365128e+10,1.521045e+06,40.000000,90.000000,1.000000
50%,3.366369e+10,2.182528e+07,66.000000,126.000000,1.000000
75%,3.368344e+10,2.182528e+07,123.593439,22702.500000,1.000000
max,3.370000e+14,2.913408e+09,96924.000000,382262.000000,2.000000

In [8]:
user_engagement.head()

   bearer_id  duration    total_data  cluster
0        3.5  322904.0  1.604259e+09        0
1        3.5  322904.0  1.604259e+09        0
2        3.5  322904.0  1.604259e+09        0
3        3.5  322904.0  1.604259e+09        0
4        3.5  322904.0  1.604259e+09        0

In [9]:
user_engagement.describe()

           bearer_id       duration    total_data        cluster
count  105719.000000  105719.000000  1.057190e+05  105719.000000
mean        1.356634  130349.580378  6.622830e+08       0.318249
std         0.650007   87018.309018  3.947117e+08       0.716017
min         1.000000    7142.000000  3.324901e+07       0.000000
25%         1.000000   72729.000000  3.579501e+08       0.000000
50%         1.000000  103111.000000  6.169335e+08       0.000000
75%         2.000000  172799.000000  8.564738e+08       0.000000
max         3.500000  322904.000000  1.604259e+09       2.000000

#### Consider the average of both engagement & experience scores as  the satisfaction score & report the top 10 satisfied customer

In [10]:
satisfaction_metrics_df = pd.merge(user_engagement, user_experience, on="msisdn")

KeyError: 'msisdn'