# TASK 1: USER SATISFACTION ANALYSIS

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from assistant_functions import Assistants
import plotter
from cleaner import CleanTelecomData

In [5]:
# Read the data ...
assistant = Assistants()
user_experience = assistant.read_csv('../data/user_experience_with_score.csv')
user_engagement = assistant.read_csv('../data/user_engagement_with_score.csv')

file read as csv
file read as csv

In [11]:
user_experience.rename(columns = {'score':'experience_score'}, inplace = True)
user_experience.head()

,msisdn,tcp_retrans_bytes,average_rtt_ms,handset_type,avarage_throughput_kbps,cluster,experience_score
0,0,2.182528e+07,47.000000,Samsung Galaxy A5 Sm-A520F,67.0,1,0.101331
1,1,2.182528e+07,70.000000,Samsung Galaxy J5 (Sm-J530),42.0,1,0.011874
2,2,2.182528e+07,123.593439,Samsung Galaxy A8 (2018),15.0,1,0.208032
3,3,2.182528e+07,123.593439,undefined,88.0,1,0.207982
4,4,2.182528e+07,123.593439,Samsung Sm-G390F,15.0,1,0.208032

In [12]:
user_experience.describe()

,msisdn,tcp_retrans_bytes,average_rtt_ms,avarage_throughput_kbps,cluster,experience_score
count,146891.000000,1.468910e+05,146891.000000,146891.000000,146891.000000,146891.000000
mean,73445.000000,1.488153e+07,123.593439,15207.646609,0.945347,0.555439
std,42403.923533,1.878126e+07,537.295718,26952.835523,0.619598,0.502101
min,0.000000,8.600000e+01,0.000000,0.000000,0.000000,0.001792
25%,36722.500000,1.521045e+06,40.000000,90.000000,1.000000,0.157649
50%,73445.000000,2.182528e+07,66.000000,126.000000,1.000000,0.207990
75%,110167.500000,2.182528e+07,123.593439,22702.500000,1.000000,1.102691
max,146890.000000,2.913408e+09,96924.000000,382262.000000,2.000000,1.619234

In [25]:
user_experience

,msisdn,tcp_retrans_bytes,average_rtt_ms,handset_type,avarage_throughput_kbps,cluster,experience_score
0,0,2.182528e+07,47.000000,Samsung Galaxy A5 Sm-A520F,67.0,1,0.101331
1,1,2.182528e+07,70.000000,Samsung Galaxy J5 (Sm-J530),42.0,1,0.011874
2,2,2.182528e+07,123.593439,Samsung Galaxy A8 (2018),15.0,1,0.208032
3,3,2.182528e+07,123.593439,undefined,88.0,1,0.207982
4,4,2.182528e+07,123.593439,Samsung Sm-G390F,15.0,1,0.208032
...,...,...,...,...,...,...,...
146886,146886,1.671546e+07,322.000000,undefined,64813.0,1,0.230631
146887,146887,2.182528e+07,32.000000,Apple iPhone 8 Plus (A1897),117.0,1,0.161653
146888,146888,2.182528e+07,29.000000,Apple iPhone Se (A1723),77.0,1,0.173768
146889,146889,2.182528e+07,49.000000,Apple iPhone Xs (A2097),90.0,1,0.093261
146890,146890,2.182528e+07,42.000000,Huawei Fig-Lx1,71.0,1,0.121434

In [13]:
user_engagement.rename(columns = {'score':'engagement_score'}, inplace = True)
user_engagement.head()

   bearer_id  duration    total_data  cluster  engagement_score        msisdn
0        3.5  322904.0  1.604259e+09        0          0.000028  3.362632e+10
1        3.5  322904.0  1.604259e+09        0          0.000028  3.361489e+10
2        3.5  322904.0  1.604259e+09        0          0.000028  3.362578e+10
3        3.5  322904.0  1.604259e+09        0          0.000028  3.365973e+10
4        3.5  322904.0  1.604259e+09        0          0.000028  3.367588e+10

In [14]:
user_engagement.describe()

,bearer_id,duration,total_data,cluster,engagement_score,msisdn
count,105719.000000,105719.000000,1.057190e+05,105719.000000,105719.000000,1.057190e+05
mean,1.356634,130349.580378,6.622830e+08,0.318249,0.000173,3.686153e+10
std,0.650007,87018.309018,3.947117e+08,0.716017,0.000290,1.036359e+12
min,1.000000,7142.000000,3.324901e+07,0.000000,0.000000,3.360100e+10
25%,1.000000,72729.000000,3.579501e+08,0.000000,0.000039,3.365088e+10
50%,1.000000,103111.000000,6.169335e+08,0.000000,0.000088,3.366364e+10
75%,2.000000,172799.000000,8.564738e+08,0.000000,0.000154,3.368340e+10
max,3.500000,322904.000000,1.604259e+09,2.000000,0.006021,3.370000e+14

In [26]:
user_engagement

,bearer_id,duration,total_data,cluster,engagement_score,msisdn
0,3.5,322904.0,1.604259e+09,0,0.000028,3.362632e+10
1,3.5,322904.0,1.604259e+09,0,0.000028,3.361489e+10
2,3.5,322904.0,1.604259e+09,0,0.000028,3.362578e+10
3,3.5,322904.0,1.604259e+09,0,0.000028,3.365973e+10
4,3.5,322904.0,1.604259e+09,0,0.000028,3.367588e+10
...,...,...,...,...,...,...
105714,1.0,86083.0,8.671079e+08,0,0.000074,3.366067e+10
105715,1.0,78141.0,7.265688e+08,0,0.000066,3.366067e+10
105716,1.0,246143.0,7.997736e+08,0,0.000134,3.366067e+10
105717,1.0,270134.0,2.703397e+08,2,0.000826,3.366067e+10
105718,1.0,253030.0,5.962878e+08,2,0.000251,3.370000e+14

#### Consider the average of both engagement & experience scores as  the satisfaction score & report the top 10 satisfied customer

In [21]:
satisfaction_metrics_df = pd.merge(user_engagement, user_experience, on="msisdn")
satisfaction_metrics_df['satisfaction_score'] = (satisfaction_metrics_df['engagement_score'] +
                                              satisfaction_metrics_df['experience_score']) / 2

score_df = satisfaction_metrics_df[['msisdn', 'engagement_score',
                                              'experience_score', 'satisfaction_score']]

In [24]:
satisfaction_metrics_df['msisdn'] = satisfaction_metrics_df['msisdn'].astype('int')
satisfaction_metrics_df['msisdn'] = satisfaction_metrics_df['msisdn'].astype('category')
satisfaction_metrics_df

Empty DataFrame
Columns: [bearer_id, duration, total_data, cluster_x, engagement_score, msisdn, tcp_retrans_bytes, average_rtt_ms, handset_type, avarage_throughput_kbps, cluster_y, experience_score, satisfaction_score]
Index: []